.app.dark {
  background-color: #222;
  color: rgb(156, 156, 156);

  .navbar {
    background-color: #222;
    border-bottom: 1px solid rgb(156, 156, 156);
  }

  .sidebar {
    background-color: #222;
    border-right: 1px solid rgb(156, 156, 156);
  }
}
